**Decision Tree**

In [2]:
import pandas as pd
from sklearn.tree import  DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
music_data=pd.read_csv('music.csv')

In [4]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [20]:
x=music_data.iloc[:,:2]
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [21]:
y=music_data.iloc[:,2]
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [23]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [24]:
model=DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [25]:
prediction=model.predict(xtest)

In [27]:
score=accuracy_score(ytest,prediction)
score

1.0

In [28]:
ytest

6     Classical
3          Jazz
13     Acoustic
2        HipHop
Name: genre, dtype: object

In [29]:
prediction

array(['Classical', 'Jazz', 'Acoustic', 'HipHop'], dtype=object)